*.exe
*.obj
*.asm
*.pyc
/__pycache__/*
/.vs/*
_site/*
log.txt
design/*
bin/*
build/*
*.o
!tests/lexer/
!tests/grammar
!tests/codegen
JOURNAL.md
.DS_Store
node_modules
*.rdbg
buildxcode/*
buildllvm/*
program.out
package
package.zip
docs/PPL/integrated
myProgram*
vendor/clang+llvm-14.0.6-x86_64-apple-darwin/*
output.txt