*.exe
*.obj
*.asm
*.pyc
/__pycache__/*
/.vs/*
_site/*
log.txt
design/*
bin/*
build/*
*.o
!tests/lexer/
!tests/grammar
!tests/codegen
JOURNAL.md
.DS_Store
node_modules
*.rdbg
buildxcode/*
program.out
package
package.zip
docs/PPL/integrated
myProgram*