html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    font-size: 12pt;
    font-family: Arial;
    font-style: normal;
}

.container {
    margin: auto;
    background-color: white;
    padding: 0.7cm;
    min-height: 100%;
}

.container img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul, ol {
    line-height: 1.5;
}